<div id="sidebar-wrapper" style="position: absolute;">
    <ul class="sidebar-nav">
        <li> <a href="{% url 'adminDashboard' %}">Dashboard</a></li><!-- style="color: white;background-color: grey;"-->
        <li> <a href="{% url 'adminViewStudent' %}">View Students</a></li>
        <li> <a href="{% url 'adminViewCollege' %}">View College</a></li>
        <li> <a href="{% url 'adminRegisterCollege' %}">Register College</a></li>
        <li> <a href="{% url 'adminNews' %}">Post News</a></li>
        <li> <a href="{% url 'adminLogout' %}">Logout</a></li>
    </ul>
</div>