{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Login Page</title>
        <link rel="stylesheet" type="text/css" href="{% static '/css/login.css' %}">
    </head>
    <body>
        {% include 'Accounts/navBar.html' %}

        <div class="center">
            <h1>Sign In</h1>
            <form method="post" action="">
                {% csrf_token %}
                <div class="txt_field">
                    <input type="text" required name="username">
                    <label>Username</label>
                </div>
                <div class="txt_field">
                    <input type="password" required name="password">
                    <label>Password</label>
                </div>
                <div class="pass">Forgot Password</div>
                <input type="submit" value="Login">

                <div class="signup_link">
                    Don't Have An Account? <a href="{% url 'signUp' %}">Signup</a>
                </div>
            </form>
        </div>
    </body>
        {% if error == "no" %}
            <script type="text/javascript">
                alert('Logged In Successfully...')
            </script>
        {% endif %}
        {% if error == "yes" %}
            <script type="text/javascript">
                alert('Invalid Credentials...')
            </script>
        {% endif %}

</html>

